<md-card id="mycard">
  <app-top-bar></app-top-bar>

  <div id="myContainer">
    <div id="myDisplay">
      <div id="appTabs">
        <app-tabs></app-tabs>
      </div>

      <div id="disputedAccountsSummary">
        <app-disputed-accounts-summary></app-disputed-accounts-summary>
      </div>
      
      <div id="auditNotes">
        <app-audit-notes></app-audit-notes>
      </div>

      <div>
        <app-bottom-buttons></app-bottom-buttons>
      </div>

    </div> 

  </div>
</md-card>
