<md-tab-group id="myTabs">
  <md-tab label="Injured Party">
    <div>
      <app-injured-party-tab></app-injured-party-tab>
    </div>
  </md-tab>
  <md-tab label="Previous Injured Party">
  
  </md-tab>
  <md-tab label="Screen Info">

  </md-tab>
  <md-tab label="Previous Screen Info">

  </md-tab>
  <md-tab label="Other Disputed Accounts">

  </md-tab>
  <md-tab label="Lead Info">

  </md-tab>
  <md-tab label="Case Documents">
    <div>
      <app-case-documents></app-case-documents>
    </div>
  </md-tab>
</md-tab-group>