#myDiv {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

md-input-container {
    font-size: 125%;
    font-weight: 600;
}

md-select {
    width: 200px;
    font-weight: 600;
    font-size: 125%;
}

.formContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.formContentBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formContentBottom button {
    padding-left: 20px;
    padding-right: 20px;
}