<app-expandable-drawer title="Dispute Accounts Summary" height="150">
  <div id="myDiv" app-expandable-drawer-body>
    <div class="formContent">
      <md-input-container>
        <input mdInput placeholder="Primary Account Number" type="number">
      </md-input-container>

      
        <md-select placeholder="Division">
          <md-option>
            Victoria's Secret
          </md-option>
          <md-option>
            Express
          </md-option>
        </md-select>
      

      <md-input-container>
        <input mdInput placeholder="Disputed Amount" type="text" value="$500.00">
      </md-input-container>

    </div>
    <div class="formContentBottom">
      <button md-button><md-icon>delete</md-icon>Delete</button>
      <button md-button><md-icon>info_outline</md-icon>Dispute Transaction</button>
      <button md-button><md-icon>call_missed</md-icon>Remove Dispute</button>
      <button md-button><md-icon>save</md-icon>Update</button>
    </div>
  </div>
</app-expandable-drawer>


    <!--<form>
      <table id="myTable">
        <tr>
          <td>
            <md-input-container>
              <input mdInput type="number" placeholder="Primary Account Number" value="1800000412412" color="Primary">
            </md-input-container>
            <br/>
            <select placeholder="Division">
              <option>test</option>
            </select> 
          </td>
          <td>
            <md-input-container>
              <input mdInput type="text" placeholder="Balance" value="$100.00">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput type="text" placeholder="Disputed Amount" value="$500.00">
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>       -->

