<app-expandable-drawer title="Injured Party" height="350">
    <div id="myContainer" app-expandable-drawer-body>
        <div class="leftHalf">
            <div class="row">
                <md-input-container>
                    <input mdInput placeholder="First Name">
                </md-input-container>
                
                <md-input-container class="size2">
                    <input mdInput placeholder="Last Name">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="SSN">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Street #">
                </md-input-container>
                
                <md-input-container class="size1">
                    <input mdInput placeholder="Pre dir">
                </md-input-container>

                <md-input-container class="size2">
                    <input mdInput placeholder="Street Name">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="Type">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="Post dir">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="Apt #">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Additional Address">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="RR#">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="PO Box">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Country">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="City">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="State/Provice">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="Zip/Postal Code">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Email">
                </md-input-container>
            </div>
        </div>
        <div class="rightHalf">
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Case Status">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Source of Fraud">
                </md-input-container>

                <md-input-container class="size1">
                    <input mdInput placeholder="Type of Fraud">
                </md-input-container>
            </div>
           
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Prepared By">
                </md-input-container>
                <md-input-container class="size1">
                    <input mdInput placeholder="Case Assigned To">
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Date Closed">
                </md-input-container>
                <md-input-container class="size1">
                    <input mdInput placeholder="Closure Type">
                </md-input-container>
            </div>

            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Days to Close">
                </md-input-container>
                <md-input-container class="size1">
                    <input mdInput placeholder="Closed By">
                </md-input-container>
            </div>
            <div class="row">
                <md-input-container class="size1">
                    <input mdInput placeholder="Date Report Taken">
                </md-input-container>
                <md-input-container class="size1">
                    <input mdInput placeholder="OCC Referral Date">
                </md-input-container>
            </div>
        </div>
        <div class="rest">
            <div id="rightSplit">
                <button md-button><md-icon>save</md-icon>Update</button>
                <button md-button><md-icon>add</md-icon>Add New</button>
                <button md-button><md-icon>clear</md-icon>Cancel</button>
                <button md-button><md-icon>delete</md-icon>Delete</button>

                <md-checkbox>OCC Filed?</md-checkbox>
                <md-checkbox>Store</md-checkbox>
                <md-checkbox>Informational</md-checkbox>
                <md-checkbox>Associate</md-checkbox>
            </div>
        </div>
    </div>
</app-expandable-drawer>