md-toolbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

#myTitle {
    margin-bottom: 0px;
    padding-right: 5px;
    font-size: 85%;
}

#myCard {
    padding: 0px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-button-toggle-group {
    box-shadow: none;
}

.mat-button-toggle-checked {
    background: inherit;
    color: white;
}

#content {
    transition: height .5s;
    overflow: hidden;
    height: 0px;
    will-change: transform;
}